<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">
      <form (ngSubmit)="onSubmit(f)" #f='ngForm'>
        <h3>ToDo</h3>
        <input type="text" name="todo" placeholder="Enter here..." class="form-control" [(ngModel)]="todo">
        <br>
      </form>
      
      <ul class="list-group" *ngFor="let todos of todoList; let i = index">
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-9">
              {{ todos }}
            </div>
            <div class="col-xs-3">
              <button type="button" class="btn btn-danger" (click)="onDelete(i)">X</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>